@page
@model tut1.Pages.LoginModel
@{
}
<form method="post">
	<div class="border p-3 mt-4">
		<div asp-validation-summary="All" class="text-danger"></div>
		<div class="row pb-2">
			<h2 class="text-primary text-light pl-3">
				Login
			</h2>
		</div>
		<div class="mb-3">
			<label asp-for="@Model.Login.EmailAddress">Email Address</label>
			<input asp-for="@Model.Login.EmailAddress" class="form-control" />
			<span asp-validation-for="Login.EmailAddress" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="@Model.Login.Password"></label>
			<input asp-for="@Model.Login.Password" class="form-control" />
			<span asp-validation-for="@Model.Login.Password" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Login.RememberMe">Remember Me</label>
			<input type="checkbox" asp-for="@Model.Login.RememberMe" class="form-check" />
		</div>



		<button type="submit" class="btn btn-primary">Login</button>
		<a asp-page="Index" button type="submit" class="btn btn-outline-secondary">Home</a>
	</div>
</form>

@section Scripts {
	@{
		<partial name="_validationScriptsPartial" />
	}
	}

