@page
@model tut1.Pages.Customer.Home.BookModel
@{
	<form method="post" enctype="multipart/form-data">
		<div class="mb-3">
			<label>Adult Tickets</label>
			<input id="adultTics" asp-for="adultTicCount" type="number" class="form-control seats" oninput="changeMax(); calc();" min="0" max="@Model.Screening.seatsRemaining" />
		</div>
		<div class="mb-3">
			<label>Child Tickets</label>
			<input id="childTics" asp-for="childTicCount" type="number" class="form-control seats" oninput="changeMax(); calc();" min="0" max="@Model.Screening.seatsRemaining" />
		</div>

		<div class="mb-3">
			<input type="hidden" id="totalSeats" asp-for="@Model.Booking.SeatAmount" />
			<span asp-validation-for="@Model.Booking.SeatAmount" class="text-danger"></span>
		</div>

		<div class="mb-3">
			<input type="hidden" id="ticketCount" asp-for="@Model.ticketCount" />
			<span asp-validation-for="@Model.ticketCount" class="text-danger"></span>
		</div>

		<div class="mb-3">
			<label asp-for="@Model.Booking.Cost"></label>
			<input id="cost" asp-for="@Model.Booking.Cost" readonly />
			<span asp-validation-for="@Model.Booking.Cost" class="text-danger"></span>
		</div>

		<div class="mb-3">
			<label asp-for="@Model.Booking.Email"></label>
			<input asp-for="@Model.Booking.Email" required="required" />
			<span asp-validation-for="@Model.Booking.Email" class="text-danger"></span>
		</div>

		<label required="required">Credit Card Number</label>
		<input pattern=".{16}" title="Please enter a valid Credit Card number" />

		<label required="required">CCV</label>
		<input pattern=".{3}" title="Please enter a valid CCV number" />

		<div class="col-12 col-md-6 ">
			<button type="submit" class="btn btn-primary btn-square form-control" style="height:50px;">Book</button>
			<a asp-page="Index" class="btn btn-secondary">Back to Index</a>
		</div>
	</form>

	@section Scripts {
		<script>
			var costs = []; //init list of costs
			@foreach (var type in Model.listOfTypes) //loop through list of types, filling array with costs
			{
				@:costs["@type.Id" - 1] = @type.Cost;
			}

			var totalCost = 0;
			var totalSeats = 0;
			function calc() {
				var seatsGetAll = document.getElementsByClassName('seats'); 
				totalCost = 0;
				totalSeats = 0;

				var seatTotal = [];
				Array.from(seatsGetAll).forEach((SC) => { //create an array combining contents of the tickets inputs eg 2 adults and 1 child and psuh that into the seattotal array
					seatTotal.push(SC.value);
				});

				for (var i = 0; i < seatTotal.length; i++) { //loop through seatstotal and calc both totalCost using costs array and the total num of seats as a single int
					totalCost += parseInt(seatTotal[i]) * parseFloat(costs[i]);
					totalSeats += parseInt(seatTotal[i]);
				}

				document.getElementById('cost').value = totalCost;
				document.getElementById('totalSeats').value = totalSeats;
				document.getElementById('ticketCount').value = totalSeats;
			}

			//function dyncamically displays cost as user increases tickets
			function displayCost() {
				var selectedTypeId = document.getElementById('typeSelect').value;
				document.getElementById('cost').value = costs[selectedTypeId] || '';
			}

			//functions dynamically changes the max of seats inputs so that no more can be booked than is in the theatre
			function changeMax() {
				var totalSeats = @Model.Screening.seatsRemaining;
				var adultTics = document.getElementById('adultTics');
				var childTics = document.getElementById('childTics');

				adultTics.max = totalSeats - childTics.value;
				childTics.max = totalSeats - adultTics.value;
			}
		</script>
	}
}
