@page
@model tut1.Pages.Customer.Home.BookModel
@{
	<form method="post" enctype="multipart/form-data">
		<div class="mb-3">
			<label>Adult Tickets</label>
			<input asp-for="adultTicCount" type="number" class="form-control seats" min="0" />
		</div>
		<div class="mb-3">
			<label>Child Tickets</label>
			<input asp-for="childTicCount" type="number" class="form-control seats" min="0" />
		</div>

	<div class="mb-3">
		<input type="hidden" id="totalSeats" asp-for="@Model.Booking.SeatAmount" />
		<span asp-validation-for="@Model.Booking.SeatAmount" class="text-danger"></span>
	</div>

		<!--<div class="mb-3">
			<input type="hidden" id="adultTicCount" asp-for="attneededModel.Booking.SeatAmount" />
			<span asp-validation-for="atneededModel.Booking.SeatAmount" class="text-danger"></span>
		</div>

		<div class="mb-3">
			<input type="hidden" id="childTicCount" asp-for="atneededModel.Booking.SeatAmount" />
			<span asp-validation-for="atneededModel.Booking.SeatAmount" class="text-danger"></span>
		</div>-->
	

	<div class="mb-3">
		<input type="hidden" id="ticketCount" asp-for="@Model.ticketCount" />
		<span asp-validation-for="@Model.ticketCount" class="text-danger"></span>
	</div>

	<div class="col-12 col-md-6 ">
			<button class="btn btn-primary btn-square" style="height:50px;" onclick="event.preventDefault(); test()">Confirm Seats</button>
	</div>


	<div class="mb-3">
		<label asp-for="@Model.Booking.Cost"></label>
		<input id="cost" asp-for="@Model.Booking.Cost" readonly />
		<span asp-validation-for="@Model.Booking.Cost" class="text-danger"></span>
			<!--<label>Total Cost:</label>
			<span id="cost"></span>-->
	</div>

	<div class="mb-3">
		<label asp-for="@Model.Booking.Email"></label>
		<input asp-for="@Model.Booking.Email" required="required" />
		<span asp-validation-for="@Model.Booking.Email" class="text-danger"></span>
	</div>

	<label required="required">Credit Card Number</label>
	<input pattern=".{16}" title="Please enter a valid Credit Card number" />

	<label required="required">CCV</label>
	<input pattern=".{3}" title="Please enter a valid CCV number" />

	<div class="col-12 col-md-6 ">
			<button type="submit" class="btn btn-primary btn-square form-control" style="height:50px;">Book</button>
			<a asp-page="Index" class="btn btn-secondary">Back to Index</a>
	</div>
</form>

	<!--<div class="mb-3">
	<label asp-for="attneededModel.Type.TypeName"></label>
	<select id="typeSelect" asp-for="atneededModel.Type.Id" asp-items="atneededModel.listOfTypesItems" class="form-control" onchange="displayCost()">
	<option disabled selected="selected Type ---"> </option>
	</select>
	<span asp-validation-for="atneededModel.Type.Id" class="text-danger"></span>
	</div>

	<div class="mb-3">
	foreach (var Type in Model.listOfTypes)
	{
	if(Type.Id == selectedValue)
	{
	<span>Type.Cost</span>
	}
	}
	</div>-->



	@section Scripts {
	<script>
			var costs = [];
			@foreach (var type in Model.listOfTypes)
			{
				@:costs["@type.Id"-1] = @type.Cost;
			}
			console.log(costs);

			var totalCost = 0;
			var totalSeats = 0;
			function test(){
				var seatsGetAll = document.getElementsByClassName('seats');
				totalCost = 0;
				totalSeats = 0;

				var seatTotal = [];
				Array.from(seatsGetAll).forEach((SC) => {
					seatTotal.push(SC.value);
				});

				for (var i = 0; i < seatTotal.length; i++) {
					console.log(seatTotal[i]);
					console.log(costs[i]);

					totalCost += parseInt(seatTotal[i]) * parseFloat(costs[i]);

					totalSeats += parseInt(seatTotal[i]);
				}

				console.log(totalCost);

				//console.log(seatscost);

				document.getElementById('cost').value = totalCost;
				document.getElementById('totalSeats').value = totalSeats;
				document.getElementById('ticketCount').value = totalSeats
			}

			function displayCost() {
				var selectedTypeId = document.getElementById('typeSelect').value;
				document.getElementById('cost').value = costs[selectedTypeId] || '';
			}
	</script>
	}
}
