@page
@using RP1.Models.Models;
@model tut1.Pages.Customer.Home.DetailsModel
@{
    <div class="">
        <form method="post">
            <div class="container backgroundWhite">
                <div class="card">
                    <div class="card-header">
                        <div class="text-light ml-0 row ">
                            <div class="col-12 col-md-6 pt-2">
                                <h1 class="text-primary text-light">@Model.Film.FilmName</h1>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="container rounded p-2">
                            <div class="row">
                                <div class="col-12 col-lg-8">
                                    <div class="row">

                                        <div class="col-12">
                                            <h3 class="text-success"></h3>
                                            <p class="text-Primary">Description</p>
                                            <p class="text-secondary">@Model.Film.Description</p>

                                            <p class="text-Primary">Age Rating</p>
                                            <p class="text-secondary">@Model.Film.ageRating</p>

                                            <p class="text-Primary">Duration</p>
                                            <p class="text-secondary">@Model.Film.Duration</p>

                                            <button type="button" class="btn btn-primary btn-square form-control" style="height:50px;" data-bs-toggle="modal" data-bs-target="#trailerModal">View Trailer</button>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-12 col-lg-4 p-1 text-center">
                                    <img src="@Model.Film.ImageName" width="100%" class="rounded" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer">
                        <div class="row">
                            <div class="col-12 col-md-6 pb-1 ">
                                <a asp-page="Index" class="btn btn-success btn-square form-control" style="height:50px;">Back to Home</a>
                            </div>
                            <div class="col-12 col-md-6 ">
                                <a asp-page="Order" asp-route-id="@Model.Film.Id" button type="submit" class="btn btn-primary btn-square form-control" style="height:50px;">View Screenings</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>

    //modal popup triggered by view trailer button
    <div class="modal" id="trailerModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="trailerModalLabel">@Model.Film.FilmName Trailer</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <iframe height="500" width="100%" src="@Model.Film.Trailer" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
}
