@page
@using RP1.Models.Models;
@model tut1.Pages.Customer.Home.DetailsModel
@{
    <div class="">
        <form method="post">

            <div class="container backgroundWhite">
                <div class="card">
                    <div class="card-header">
                        <div class="text-light ml-0 row ">
                            <div class="col-12 col-md-6 pt-2">
                                <h1 class="text-primary text-light">@Model.Film.FilmName</h1>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="container rounded p-2">
                            <div class="row">
                                <div class="col-12 col-lg-8">
                                    <div class="row">

                                        <div class="col-12">
                                            <h3 class="text-success"></h3>
                                            <p class="text-Primary">Description</p>
                                            <p class="text-secondary">@Model.Film.Description</p>

                                            <p class="text-Primary">Age Rating</p>
                                            <p class="text-secondary">@Model.Film.ageRating</p>

                                            <p class="text-Primary">Duration</p>
                                            <p class="text-secondary">@Model.Film.Duration</p>

                                            <!--<div class="form-floating my-2">
                                                <input class="form-control" aria-required="true" />
                                                <label>Count</label>
                                            </div>
                                            atneededforeach (var Screening in Model.listOfScreenings)
                                            {
                                                <h2 class="text-success pl-1"><b>atneededScreening.Date</b></h2>
                                                <div class="col-12">
                                                    <div class="row my-3">
                                                    </div>
                                                </div>
                                            }-->

                                            <div class="row">
                                                <iframe height="800"
                                                        width="600"
                                                        src="@Model.Film.Trailer"
                                                        frameborder="0"
                                                        allowfullscreen>
                                                </iframe>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                                <div class="col-12 col-lg-4 p-1 text-center">
                                    <img src="@Model.Film.ImageName" width="100%" class="rounded" />
                                </div>


                            </div>
                        </div>
                    </div>


                    <div class="card-footer">
                        <div class="row">
                            <div class="col-12 col-md-6 pb-1 ">
                                <a asp-page="Index" class="btn btn-success btn-square form-control" style="height:50px;">Back to Home</a>
                            </div>
                            <div class="col-12 col-md-6 ">
                                <a asp-page="Order" asp-route-id="@Model.Film.Id" button type="submit" class="btn btn-primary btn-square form-control" style="height:50px;">View Screenings</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
}
